<div id="serum-tab" class="tab-pane fade">

<b>Revitalizer Serums: </b>{{{this.char.custom.v_serums}}} <br />

<b>Adreno Serums: </b>{{{this.char.custom.a_serums}}} <br />

<b>Quickhand Serums: </b>{{{this.char.custom.qh_serums}}} <br />

<b>Glass Cannon Serums: </b>{{{this.char.custom.gc_serums}}} <br />

<b>Hardy Serums: </b>{{{this.char.custom.h_serums}}} <br />

<button class="btn btn-primary" {{action (mut this.clickGetSerum) true}}>Get a Serum</button>

<BsModalSimple @title="Get a Serum" @closeTitle="Cancel" @submitTitle="Get" @size={{null}} @fade={{true}} @open={{this.clickGetSerum}} @onSubmit={{action "getSerum"}} @onHide={{action (mut this.clickGetSerum) false}}>
  
  <b>Serum</b> <Input @type="text" size={{25}} id="serumType" @enter={{action "getSerum"}} @value={{this.serumType}} />

</BsModalSimple>

</div>
