<div id="serum-tab" class="tab-pane fade">

<b>Revitalizer Serums: </b>{{{this.char.custom.v_serums}}}

<b>Adreno Serums: </b>{{{this.char.custom.a_serums}}}

<b>Quickhand Serums: </b>{{{this.char.custom.qh_serums}}}

<b>Glass Cannon Serums: </b>{{{this.char.custom.gc_serums}}}

<b>Hardy Serums: </b>{{{this.char.custom.h_serums}}}

</div>
