<p><b>Experience Points Available:</b> {{this.char.tds.xp.xp_points}}</p>

<TdSXplist @category="Attributes" @abilities={{this.char.tds.xp.attributes}} @xp={{this.char.tds.xp.xp_points}} @canLearn={{this.char.tds.xp.can_learn}} @learnAbility={{action "learnAbility"}} />



<TdSXplist @category="Action Skills" @abilities={{this.char.tds.xp.action_skills}} @xp={{this.char.tds.xp.xp_points}} @canLearn={{this.char.tds.xp.can_learn}} @learnAbility={{action "learnAbility"}} />



<TdSXplist @category="Background Skills" @abilities={{this.char.tds.xp.backgrounds}} @xp={{this.char.tds.xp.xp_points}} @canLearn={{this.char.tds.xp.can_learn}} @learnAbility={{action "learnAbility"}} />


<TdSXplist @category="Language Skills" @abilities={{this.char.tds.xp.languages}} @xp={{this.char.tds.xp.xp_points}} @canLearn={{this.char.tds.xp.can_learn}} @learnAbility={{action "learnAbility"}} />

{{#if this.char.tds.use_advantages}}

  {{#if this.char.tds.xp.allow_advantages_xp}}

    <TdSXplist @category="Advantages" @abilities={{this.char.tds.xp.advantages}} @xp={{this.char.tds.xp.xp_points}} @canLearn={{this.char.tds.xp.can_learn}} @learnAbility={{action "learnAbility"}} />
  {{else}}
  <p><b>Advantages</b></p>
    You can't raise advantages directly with XP.  Submit a request to staff.
  {{/if}}
{{/if}}
  


<p><b>New Ability</b> 
  
    {{#if (and (gt this.char.tds.xp.xp_points 0) this.char.tds.xp.can_learn)}}
  
    <Input @type="text" size={{25}} @value={{this.newAbility}} />
    <a href="#" class="btn btn-secondary" {{action 'learnNewAbility'}} >Learn</a>
    
    {{else}}
    Out of XP
    {{/if}}
</p>
