<!-- <div id="serums-tab" class="tab-pane fade"> -->

<b>Revitalizer Serums: </b>{{{this.char.custom.v_serums_has}}} <br />

<b>Adreno Serums: </b>{{{this.char.custom.a_serums}}} <br />

<b>Quickhand Serums: </b>{{{this.char.custom.qh_serums}}} <br />

<b>Glass Cannon Serums: </b>{{{this.char.custom.gc_serums}}} <br />

<b>Hardy Serums: </b>{{{this.char.custom.h_serums}}} <br />

<!-- <div class="action-buttons">
    <button class="btn btn-primary" {{action (mut this.showGetSerum) true}}>Get a Serum</button>
</div> -->

<!--<button class="btn btn-secondary" id="addbg" {{on 'click' (fn this.setSelectBackgroundSkill true)}}>Add Background Skill</button> -->
<button class="btn btn-secondary" id="getserum" href="#serums-tab" {{on 'click' (fn this.setSelectSerum true)}}>Get a Serum</button>

<!--<BsModalSimple @title="Get a Serum" @closeTitle="Cancel" @submitTitle="Get" @size={{null}} @fade={{true}} @open={{this.showGetSerum}} @onSubmit={{this.getSerum}} @onHide={{(fn this.setShowGetSerum false)}}>
  
  <b>Serum</b> <Input @type="text" size={{25}} id="serumType" @enter={{this.getSerum}} @value={{this.serumType}} />

  </BsModalSimple>--->

<BsModalSimple @title="Get a Serum" @closeTitle="Cancel" @submitTitle="Get" @size={{null}} @fade={{true}} @open={{this.selectSerum}} @onSubmit={{this.getSerum}} @onHide={{(fn this.setSelectSerum false)}}>
    <p>Enter a serum name.</p>
    <b>Serum</b> <Input @type="text" size={{25}} id="serumType" @enter={{this.getSerum}} @value={{this.serumType}} />

</BsModalSimple>

<!--</BsModalSimple>

<BsModalSimple @title="Add Background Skill" @closeTitle="Cancel" @submitTitle="Add" @size={{null}} @fade={{true}} @open={{this.selectBackgroundSkill}} @onSubmit={{this.addBackgroundSkill}} @onHide={{(fn this.setSelectBackgroundSkill false)}}>
    <p>Enter a skill name.</p>
    <Input @type="text" size={{25}} id="bgSkill" @enter={{this.addBackgroundSkill}} @value={{this.newBgSkill}} />

</BsModalSimple> -->

<!--
<BsModalSimple @title="Spend a Luck Point" @closeTitle="Cancel" @submitTitle="Spend" @size={{null}} @fade={{true}} @open={{this.selectSpendLuck}} @onSubmit={{this.spendLuck}} @onHide={{(fn this.setSelectSpendLuck false)}}>
  
  <b>Reason:</b> <Input @type="text" size={{25}} id="luckReason" @enter={{this.spendLuck}} @value={{this.luckReason}} />

</BsModalSimple> -->



