<div class="fs3-damage-list">
{{#each this.damage as |damage|}}


<div class="fs3-damage-block">
  
    <div class="fs3-damage-desc">  <div class="fs3-damage-title">{{damage.description}}</div> </div>
    <div class="fs3-damage-date">{{damage.date}}</div>
    <div class="fs3-damage-treat">
      {{#if damage.is_treatable}}
        Treatable
      {{else if damage.is_serumable}}
        Use a Serum
      {{/if}}
    </div>
    <div class="fs3-damage-healing">
      {{#if damage.healing}}
        <Fs3Dots @rating={{damage.healing_progress}} @max={{5}} />
      {{/if}}
    </div>
    <div class="fs3-damage-sev">
      
      {{#if this.showOriginal}}
        <AnsiFormat @text={{damage.severity}} />
        ( was <AnsiFormat @text={{damage.original_severity}} />)
      {{else}}
        <AnsiFormat @text={{damage.severity}} /> 
      {{/if}}
    </div>
</div>
{{/each}}
</div>

<p><b>Total Damage Modifier:</b> {{this.damageMod}}</p>
