<li><hr role="separator" class="dropdown-divider"></li>
<li><a href="#" {{on 'click' (fn this.setSelectWebUseSerum true)}} class="dropdown-item">Use a Serum</a></li>
<li><a href="#" {{on 'click' (fn this.setRollDicePopup true)}} class="dropdown-item">Roll Dice</a></li> 
<li><a href="#" {{on 'click' this.webPalsInvite}} class="dropdown-item">Invite Pals</a></li> 

<BsModalSimple 
    @title="Use a Serum"
    @closeTitle="Cancel"
    @submitTitle="Use Serum"
    @size={{null}}
    @fade={{true}}
    @open={{this.selectWebUseSerum}}
    @onSubmit={{this.webUseSerum}} 
    @onHide={{(fn this.setSelectWebUseSerum false)}}
    >
      <PowerSelect
        @options={{this.serums}}
        @onChange={{this.serumToUseChanged}}
        @selected={{this.serumToUse}}
        @labelText="Select a Serum"
        as |serumToUse|
      >
      {{serumToUse.name}}
    </PowerSelect>
    <br>
    <PowerSelect
        @options={{this.custom.serumTargets}}
        @onChange={{this.serumTargetChanged}}
        @selected={{this.serumTargetName}}
        @searchEnabled=true 
        @searchField="name"
        @labelText="Select a Target (optional):"
        as |serumTarget|
      >
      {{serumTarget.name}}
      </PowerSelect>
</BsModalSimple>

<BsModalSimple 
    @title="Roll Dice"
    @closeTitle="Cancel"
    @submitTitle="Roll it!"
    @size={{null}}
    @fade={{true}}
    @open={{this.rollDicePopup}}
    @onSubmit={{this.rollDice}} 
    @onHide={{(fn this.setRollDicePopup false)}}>
    <label for="dicebox">How many dice?</label> <label for="facesbox">How many faces?</label>
    <Input @id="dicebox" @value={{this.dice}} @type="number" @min="1" @width="45%"/>  <Input @id="facesbox" @value={{this.faces}} @type="number" @min="1" @width="45%"/> 
    <label for="privatebox">Private roll?</label>
    <Input @id="privatebox" @value={{this.private_dice}} @type="checkbox"/>
</BsModalSimple>