<li><a href="#" {{on 'click' (fn this.setSelectWebUseSerum true)}} class="dropdown-item">Use a Serum</a></li> 
<li><a href="#" {{on 'click' this.webPalsInvite}} class="dropdown-item">Invite Pals</a></li> 

<BsModalSimple 
    @title="Use a Serum"
    @closeTitle="Cancel"
    @submitTitle="Use Serum"
    @size={{null}}
    @fade={{true}}
    @open={{this.setSelectWebUseSerum}}
    @onSubmit={{this.webUseSerum}} 
    @onHide={{(fn this.setSelectWebUseSerum false)}}
    @renderInPlace={{true}}>
      <PowerSelect
        @options={{this.serums}}
        @onChange={{this.foo}}
        @labelText="Select a Serum"
        as |serumToUse|
      >
      {{serumToUse}}
    </PowerSelect>
  </BsModalSimple>