  <div class="sidebar-box {{this.boxStyle}}">
    <div class="sidebar-heading">
        <h2>Looking for RP <i class="fa-solid fa-users"></i></h2>
    </div>
    <div class="looking-for-rp">
      
      {{#each this.custom.lfrp_icons as |char|}}
      <div class="lfrp-row">
        <CharIconInline @char={{char}}/>
      </div>
      {{/each}}
      <br>
      {{#if this.custom.is_looking_for_rp}}
        <p><a href="#" {{on 'click' this.unsetLFRP}}>Stop Looking for RP</a></p>
      {{else}}
        <p><a href="#" {{on 'click' this.setLFRP}}>Look for RP</a></p>
      {{#/if}}
    </div>
    <p></p>
  </div>