  <div class="sidebar-box {{this.boxStyle}}">
    <div class="sidebar-heading">
        <h2>Looking for RP </h2>
    </div>
    <div class="looking-for-rp">
      
      {{#each this.custom.lfrp_icons as |char|}}
      {{!--{{#if (not char.lfrp_type)}}
      <div class="lfrp-row">
        <CharIconInline @char={{char}}/>
      </div>
      {{else}} --}}
      <div class="lfrp-row">
        <CharIconInlineLFRPTxt @char={{char}}/>
      </div>
      {{!-- {{/if}} --}}
      {{/each}}
      <br>
      <div class="lfrp-buttons">
      <p>
        <span class="badge-sidebar-bgs">
          <a href="#" {{on 'click' this.setSelectLFRP}}>Look for RP</a>
        </span> 
        <span class="badge-sidebar-bgs">
          <a href="#" {{on 'click' this.unsetLFRP}}>Stop Looking for RP</a>
        </span>
      </p>
      </div>
    </div>
    <p></p>
    <BsModalSimple 
      @title="Look for RP"
      @closeTitle="Cancel"
      @submitTitle="Look for RP"
      @size={{null}}
      @fade={{true}}
      @open={{this.selectLFRP}}
      @onSubmit={{this.setLFRP}} 
      @onHide={{(fn this.setSelectLFRP false)}}
      @renderInPlace={{true}}>
      {{!--<label for="timebox">How many hours would you like to be looking for?</label> <br>
      <Input @id="timebox" @value={{this.hours}} @type="number" @inputmode="numeric" @min="1" @max="3" style="width: 45%"/> --}}
      <PowerSelect
        @options={{this.hourOptions}}
        @onChange={{this.hoursToLookChanged}}
        @selected={{this.hours}}
        @labelText="How many hours would you like to be looking for?"
        as |hour|
        >
        {{hour}}
      </PowerSelect>
    </BsModalSimple>
  </div>

